.lein-plugins
.lein-deps-sum
.lein-failures
*.omn
*.owl
*~
*/behaviour.clj
*/capability.clj
*/chemical_substance.clj
*/compuational_entity.clj
*/covanlently_connected_entity.clj
*/description.clj
*/document.clj
*/document_component.clj
*/ent.clj
*/geometric_entity.clj
*/identifier.clj
*/interacting.clj
*/mathematical_entity.clj
*/media.clj
*/other.clj
*/procedure.clj
*/quality.clj
*/role.clj
*/social_entity.clj
*/spatial_region.clj
*/submolecular_entity.clj
